@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;

    @media (max-width: 375px) {
        padding: 0 10px;
    }
}

button,
input {
    outline: none;
    border: none;
}

.bg__grid {
    background-image: url('../assets/cell.svg');
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.cats {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    z-index: -1;

    img {
        max-width: 150px;
    }
}

.error {
    color: $red;
    font-weight: bold;
}