.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 45px;
    color: #fff;
    background-color: $accent-color;
    border: 1px solid $gray;
    color: $blue-2;
    transition: background-color 0.4s;
    font-size: 24px;

    @media (max-width: 450px) {
        width: 55px;
    }

    &--get-res {
        background: #19ACFF;
        box-shadow: -9px 10px 203px rgba(0, 163, 255, 0.4), inset -3px 4px 11px #B0DFFF;
        color: $white;
        border: none;
    }

    &--action {
        background-color: $blue-1;
        color: $blue-3;
        transition: background-color 0.4s;
        // border: none;
        &:hover {
            background-color: darken($blue-1, 15%)
        }
    }

    &--number{
        transition: background-color 0.2s;
        &:hover{
            background-color: darken($accent-color, 10%)
        }
    }

    &__small{
        background: transparent;
        font-size: 34px;
        color: $blue-2;
        font-style: italic;
        font-weight: 300;
    }
}