.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: $accent-color;
    border-radius: 5px;

    @media (max-width: 375px) {
        padding: 20px 5px;
    }

    &__field {
        display: flex;
        width: 100%;
        gap: 10px;
        position: relative;
    }

    &__input {
        padding: 7px;
        padding-right: 30px;
        width: 100%;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
        background-color: transparent;
        backdrop-filter: blur(1px);
        border: 2px solid $blue-3;
        border-radius: 5px;
        color: $text-dark;
        transition: 0.3s;
        font-size: 21px;

        &.error{
            border-color: $red;
            border-width: 1px;
        }

        &-clear{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: $blue-2;
            color: $white;
            top: 30%;
            right: 10px;
            border-radius: 50%;
            cursor: pointer;
            display: none;
        }

        &:focus {
            backdrop-filter: blur(5px);
        }

    }

    &__result {
        opacity: 0;
        visibility: hidden;
        text-align: center;
        font-style: italic;
        transition: 0.3s;
        width: 100%;
        padding: 5px 20px;
        color: $text-dark;
        background-color: $accent-color;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
        border-radius: 5px;
        border: 1px solid $gray;

        &-answer {
            text-align: center;
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;

        &__number {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            gap: 10px;

            .zero {
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
            }
        }

        &__actions {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            gap: 10px;
            grid-auto-flow: column dense;
        }

        &__scope {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            gap: 10px;

            // .button--get-res {
            //     grid-row-start: 3;
            //     grid-row-end: 5;
            //     height: 100%;
            // }
        }
    }

}