.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: $accent-color;
    border-radius: 5px;
    max-width: 500px;

    @media (max-width: 375px) {
        padding: 20px 5px;
    }

    &__field {
        display: flex;
        width: 100%;
        gap: 10px;
        position: relative;
    }

    &__input {
        padding: 7px;
        padding-right: 30px;
        width: 100%;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
        background-color: transparent;
        backdrop-filter: blur(1px);
        border: 2px solid $blue-3;
        border-radius: 5px;
        color: $text-dark;
        transition: 0.3s;
        font-size: 21px;

        &-clear {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: $blue-2;
            color: $white;
            top: 30%;
            right: 10px;
            border-radius: 50%;
            cursor: pointer;
            display: none;
        }

    }

    &__result {
        text-align: center;
        transition: 0.3s;
        width: 100%;
        padding: 5px 20px;
        background-color: $accent-color;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
        border-radius: 5px;
        border: 1px solid $gray;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        font-style: italic;
        white-space: pre-wrap;
        word-wrap: break-word;

        p {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .result {
            font-size: 18px;
            color: $text-dark;
        }

        .error {
            font-size: 18px;
            color: $gray;
            font-weight: normal;

            span {
                color: $red;
                font-weight: bold;
            }
        }

        &.visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .showup {
            animation: showup 0.2s ease-in-out 1;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        &__header {
            display: grid;
            grid-template-columns: repeat(6, auto);
        }

        &__main {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &__number {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            gap: 10px;

            .zero {
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
            }
        }

        &__actions {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            gap: 10px;
            grid-auto-flow: column dense;

            .button--get-res {
                grid-row-start: 3;
                grid-row-end: 5;
                height: 100%;
            }
        }


    }

}

@keyframes showup {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}