.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // padding-top: 100px;
    // padding-bottom: 50px;
    margin-top: 50px;
    padding: 40px 20px;
    // border-radius: 20px;
    // box-shadow: 0px 0px 10px 1px $gray;
    // background: $accent-color;

    &__field {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    &__input {
        padding: 10px 20px;
        width: 100%;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
        background-color: transparent;
        backdrop-filter: blur(1px);
        border: 2px solid $blue-3;
        border-radius: 5px;
        color: $text-dark;
        transition: 1s;

        &:focus {
            backdrop-filter: blur(5px);
        }

    }

    &__result {
        // display: none;
        width: 100%;
        padding: 5px 20px;
        color: $text-dark;
        background-color: $accent-color;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
        border-radius: 15px;
        border: 1px solid $gray;

        &-answer {
            text-align: center;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 15px;

        &__number {
            max-width: 250px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            // grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, 1fr);
            gap: 15px;

            .zero {
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
            }
        }

        &__actions {
            display: grid;
            grid-template-rows: auto auto auto auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            gap: 15px;

        }

        &__scope {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;

            .button--get-res{
                grid-row-start: 3;
                grid-row-end: 5;
                height: 100%;
            }
        }
    }

}