$green: rgb(52 211 153);
$red: rgb(185 28 28);

$white: #F0F0F0;
$black: #000;
$bg-volor: #F7F8FB;
$accent-color: #FBFCFD;
$blue-1: #ADE2FF;
$blue-2: #38B9FF;
$blue-3: #109DFF;
$gray: #858585;
$text-dark: #424242;