.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 45px;
    color: #fff;
    background-color: $accent-color;
    border: 1px solid $gray;
    color: $blue-2;
    transition: background-color 0.4s;
    font-size: 24px;

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }

    @media (max-width: 540px) {
        width: 55px;
    }

    @media (max-width: 460px) {
        width: 45px;
    }

    @media (max-width: 405px) {
        width: 40px;
        height: 60px;
        font-size: 18px;
    }



    &--get-res {
        background: #19ACFF;
        box-shadow: -9px 10px 203px rgba(0, 163, 255, 0.4), inset -3px 4px 11px #B0DFFF;
        color: $white;
        border: none;

        &.loading {
            background: transparent;
            box-shadow: none;
            opacity: 1;
        }
    }

    &--action {
        background-color: $blue-1;
        color: $blue-3;
        transition: background-color 0.4s;

        &:not([disabled]):hover {
            background-color: darken($blue-1, 15%)
        }
    }

    &--number {
        transition: background-color 0.2s;

        &:not([disabled]):hover {
            background-color: darken($accent-color, 10%)
        }
    }

    &__small {
        background: transparent;
        font-size: 34px;
        color: $blue-2;
        font-style: italic;
        font-weight: 300;
    }
}