.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: $accent-color;
    border-radius: 5px;
    max-width: 500px;
    position: relative;
    border: 1px solid $gray;

    @media (max-width: 375px) {
        padding: 20px 5px;
        margin-top: 20px;
    }

    &__field {
        display: flex;
        width: 100%;
        gap: 10px;
        position: relative;
    }

    &__result {
        text-align: center;
        transition: 0.3s;
        width: 100%;
        padding: 5px 20px;
        background-color: $accent-color;
        box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
        border-radius: 5px;
        border: 1px solid $gray;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        font-style: italic;
        white-space: normal;
        overflow-y: auto;

        .result {
            font-size: 18px;
            color: $text-dark;
        }

        .error {
            font-size: 18px;
            color: $gray;
            font-weight: normal;

            .error-span {
                color: $red;
                font-weight: bold;
                cursor: pointer;
            }
        }

        &.visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .showup {
            animation: showup 0.2s ease-in-out 1;
        }
    }

    &__keyboard {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        gap: 10px;
    }
}

@keyframes showup {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}